* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(68, 66, 66);
  color: white;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.anaball {
  position: relative;
  float: right;
  border-radius: 20%;
  margin-top: 0;
  margin-right: 70px;
}

.listlinks {
  display: flex;
  width: 32%;
  font-size: 22px;
  justify-content: space-around;
  list-style: none;
  letter-spacing: 3px;
}

.logo {
  color: rgb(226, 155, 49);
  font-size: 25px;
  justify-content: space-around;
  font-variant-caps: petite-caps;
}

.listlinks a {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.listlinks.a:hover {
  text-decoration-line: underline;
}

.imgvolleyup {
  max-width: 100%;
  margin-left: 0%;
  /* position: relative; */
}
.volleyup {
  max-width: 100%;
  height: 40px;
}

.anapresentation {
  position: relative;
  color: rgb(41, 39, 39);
  font-size: 30px;
  margin-top: 220px;
  padding-right: 25px;
  list-style: none;
  /* background-color: blanchedalmond; */
}

.listpresentation {
  text-align: right;
  font-family: fantasy;
  letter-spacing: 3px;
  /* background-color: white; */
}

.text1 {
  position: relative;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}

.thetable {
  column-gap: 5px;
  border-width: 3px;
  margin: 10px;
}
.championship {
  background-color: rgb(165, 158, 158);
  color: white;
}

.years {
  background-color: rgb(250, 219, 219);
  color: white;
}

.theend {
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgb(68, 66, 66);
  padding-right: 10px;
}

.theend a {
  text-decoration: none;
  color: rgb(226, 155, 49);
}

.quotation {
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.table1 {
  justify-content: space-around;
}

/* Here starts the contact form configuration */
.contactsection {
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: rgb(68, 66, 66);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 5px 5px 20px black;
  border-radius: 15px;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: whi;
}

.contactForm {
  margin-top: 10px;
  width: 100%;
  padding-right: 10px;
  font-weight: 300px;
  color: rgb(226, 155, 49);
}

.contactForm textarea {
  width: 98%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgb(179, 173, 173);
}

.contactForm input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(179, 173, 173);
}

.btnsubmit {
  margin-top: 10px;
  width: 99%;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(29, 37, 53);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-width: 1px;
  border-style: hidden;
  color: white;
}

.btnsubmit:hover {
  background-color: rgb(12, 16, 26);
  color: white;
}
